accelerate>=1.1.1
compel
dashscope
datasets
decord
diffusers>=0.31.0
docarray[full]
easydict
einops
fastapi
ftfy
gradio>=5.0.0
imageio
imageio-ffmpeg
kokoro-onnx
kolors @ git+https://github.com/Kwai-Kolors/Kolors.git
librosa
loguru
misaki[en]
moviepy==1.0.3
numpy>=1.23.5,<2
opencv-python>=4.9.0.80
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
optimum-quanto==0.2.6
peft==0.17.0
prometheus-fastapi-instrumentator
pydantic==2.7.2
pydub
pyloudnorm
python-multipart
scenedetect
scikit-image
sentencepiece
shortuuid
soundfile
tokenizers>=0.20.3
torch
tqdm
transformers>=4.49.0
uvicorn